@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {

    display: flex;
    justify-content: space-between;
    background: #FFF;
    padding: 5px 150px 5px;

}

.logo-container {

    display: flex;
    width: 50%;

}

.logo-container img {

    width: 100px;
    object-fit: cover;
    margin-right: 20px;


}

.logo-container p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.nav-items-container {

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;


}

.g-section {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));



}

.nav-items-container a {
    text-decoration: none;
}

.banner-container {

    margin: 50px 240px 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;

}

.banner-img {

    width: 50%;
}

.banner-text {

    width: 50%;
}

.nav-icons {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    border: 1px solid greenyellow;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;

    font-weight: 800;

    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-like {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;

    font-weight: 600;

    text-transform: uppercase;
}

.banner-p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;

    font-weight: 500;

    text-transform: lowercase;
}




.primary-btn2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    align-items: center;
    color: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

}

.primary-btn {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 48px;
    align-items: center;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.gamer-container {

    display: flex;
    text-align: center;
    margin-left: 240px;
}

.gamer-text {

    width: 40%;
    text-align: center;
    margin-top: 95px;
    margin-right: 240px;
    margin-left: 52px;
    margin-bottom: 96px;
}

.gamer-img {

    width: 868px;
    height: 489px;
    margin-top: 55px;

    margin: 56px;

}

.gamer-img img {
    width: 100%;
    height: 100%;
}

.features {

    margin-top: 120px;
    display: flex;
    gap: 30px;

    background: #FFF;
}

.features-text {


    margin-left: 200px;
    margin-top: 200px;
    width: 40%;

}

.features-img {

    width: 60%;
    padding-right: 100px;
    background-image: url(./images/Rectangle\ 55.png);
    border-radius: 8px;
    margin-right: 100px;



}



.features-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-right: 120px;
}

.features-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}


.feature-box {
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    background-image: url(./images/Rectangle\ 66.png);
    position: relative;
    top: 300px;
    right: 100px;

}

.carrers-section {
    border: 1px solid red;
    margin-top: 200px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-bottom: 140px;
    display: flex;


}

.carrers-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;


}

.carrers-details {
    border: 1px solid red;
    width: 50%;
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 140px;

}

.carrers-list {
    border: 1px solid red;
    display: flex;
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    gap: 10px;


}

.carrers-list2 {
    text-align: right;
}

.carrers-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;

    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.carrers-img {
    border: 1px solid red;
    width: 50%;
    margin-right: 100px;
}

.carrers-img img {
    width: 100px;


}

.footer-section {
    background: gray
}


.footer-section img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 45px;


}

.footer-list {
    display: flex;

    justify-content: center;
    margin-right: 10px;
}




.footer-description {

    font-family: Work Sans;
    font-size: 45px;

    font-weight: 700;


}

.footer-logo {
    justify-content: center;
    display: flex;
}

.footer-list li {
    /* margin-right: 20px; */
    text-decoration: none;
    display: inline-flex;

    align-items: flex-start;
    gap: 60px;
    margin-right: 20px;
}

.icon-image {
    
    height: 40px;
    flex-shrink: 0;
    justify-content: center;
    width: 40px; 
    margin-left: 100px;
    margin-bottom: 20px;
    
}

.footer-icon .icon-image{
    justify-content: center;
}

.footer-condition{
    display: flex;
    text-decoration: none;
    margin-left: 150px;
}

.footer-condition li{
   text-align: center;
   margin-top: 20px;
}

.bottom-site{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
/* margin-left: 100px; */
}











@media screen and(max-width:576px) and(max-width:892px);

    {

    nav,
    .nav-container,
    .nav-items-container,
    .logo-container,
    .nav-icons,
    {
    flex-direction: column;


}

* {
    margin: 0%;
    padding: 0%;
}

.nav-icons {
    flex-direction: column;
    margin-left: 0;

}

.nav-container {
    flex-direction: column;
    display: block;
    margin-left: 0;
}

.features {
    flex-direction: column;


}

.logo-container img {
    grid-template-columns: 1fr;

}

.banner-container {
    grid-template-columns: 1fr;
}

.features-img {
    width: 100%;
    grid-template-columns: 1fr;
}

header {
    padding: 20px;
}


}